<%- include('partials/header', { currentPage }) %>

<section class="jobs-page">
  <div class="jobs-header about">
    <h2>🎯 Hiring Preferences</h2>
  </div>

  <div class="card">
    <p>Preferred Candidates:</p>

    <label><input type="checkbox"> Students</label><br>
    <label><input type="checkbox"> Graduates</label><br>
    <label><input type="checkbox"> Internships</label><br>
    <label><input type="checkbox"> Projects</label><br>

    <br>

    <button class="btn">Save Preferences</button>
  </div>
</section>

<%- include('partials/footer') %>

